body {
  background-color: #e1d9d3;
}
ul li {
  list-style-type: none;
}

.container {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: auto;
  padding-bottom: 50px;
}

.row-content {
  /* margin: 0px auto;
    padding: 10px 0px 10px 0px; */
  /* border-bottom: 1px ridge; */
  min-height: 200px;
}
.resume-maintext {
  color: #2b2a28;
}

.profile-pic {
  width: 220px;
  height: 200px;
  padding: 20px 20px 20px 40px;
}
.myname {
  /* text-align: center; */
  font-size: 30px;
  color: #f1dbca;
  font-weight: 600;
  padding: 70px 0px 0px 0px;
  width: 190px;
  height: 120px;
  border-bottom: 3px solid #f1dbca;
}

.itemCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: auto;
  height: auto;
  border-left: 5px solid #d89d99;
  padding: 10px 0px 0px 20px;
  margin-top: 30px;
}
.education {
  width: auto;
  height: auto;
  border-left: 5px solid white;
}
.education-subtitle {
  font-size: 15px;
  font-weight: 600;
  color: #dfa9ac;
}

.resume-grid {
  padding: 30px 30px 30px 30px;
}

.resume-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #c28487;
}
.social-text {
  padding: 0px 0px 0px 15px;
}

.fa {
  padding: 7px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.progress-bar {
  background-color: #c28487;
}

.progress-col {
  padding-top: 10px;
}

.footer-text {
  text-align: center;
  color: white;
}

.btn-outline-warning {
  color: white;
  border-color: white;
}

.btn-outline-warning:hover {
  background-color: #c28487;
  color: white;
  border-color: #c28487;
}

input[type="checkbox"] {
  appearance: none;

  /* Styling checkbox */
  width: 16px;
  height: 16px;
  background-color: #d89d99;
}

.lang-text {
  padding-left: 10px;
}
